.app {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: auto;
}
.app .content {
  /* flex: none; */
  width: 80vw;
  min-width: 1100px;
  box-sizing: border-box;
  padding: 80px 10%;
  position: relative;
  background-color: #f1f4f5;
  /* background: url(../assets/images/bg-content.jpeg);
  background-size: contain; */
}

.app .content.has-chat{
  padding: 5% 14px 5% 14px;
}
