.container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    .title {
      color: #454545;
      font-size: 22px;
    }
    .invitation {
      cursor: pointer;
      color: #357AE4;
      font-size: 18px;
    }
  }
  .content {
    // max-height: 600px;
    // overflow: auto;
    .select-role {
      width: 120px;
    }
  }
  .buttons {
    text-align: center;
    margin-top: 45px;
  }
  .action {
    color: #357AE4;
  }
}
