.loading-wrap {
  position: absolute;
  top: 50%;
  left:50%;
  z-index: 99999;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  animation: antRotate 1.2s infinite linear;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  i {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #108ee9;
    transform: scale(0.75);
    display: block;
    position: absolute;
    opacity: 0.3;
    animation: antSpinMove 1s infinite linear alternate;
    transform-origin: 50% 50%;
    &:nth-child(1) {
      left: 0;
      top: 0;
    }
    &:nth-child(2) {
      right: 0;
      top: 0;
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      right: 0;
      bottom: 0;
      animation-delay: 0.8s;
    }
    &:nth-child(4) {
      left: 0;
      bottom: 0;
      animation-delay: 1.2s;
    }
  }
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(221, 221, 221,0.5);
}
@keyframes antRotate {
  to {
    transform: rotate(405deg);
  }
}
@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}
